<form id="formCadastro" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nome">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: João" maxlength="50">
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Sobrenome">Sobrenome:</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="255">
                <span asp-validation-for="Sobrenome" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="CPF">CPF:</label>
                <input required="required" type="text" class="form-control" id="CPF" name="CPF" placeholder="Ex.: 111.222.333.44" maxlength="14">
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Nacionalidade">Nacionalidade:</label>
                <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="CEP">CEP:</label>
                <input required="required" type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex.: 01011-100" maxlength="9">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Estado">Estado:</label>
                <select required="required" id="Estado" class="form-control" name="Estado">
                    <option value="">Selecione</option>
                    <option value="SP">São Paulo</option>
                    <option value="PE">Pernambuco</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Cidade">Cidade:</label>
                <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Logradouro">Logradouro:</label>
                <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Email">E-mail:</label>
                <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Telefone">Telefone:</label>
                <input required="required" type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2020-3030" maxlength="15">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <button type="button" data-toggle="modal" data-target="#modalBeneficiario" class="btn btn-sm btn-primary">Beneficiários</button>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
            </div>
        </div>
    </div>

    <script language="javascript" type="text/javascript" src="~/Scripts/cpf.js"></script>
</form>

<div id="modalBeneficiario" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-lg modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Beneficiários</h4>
            </div>
            <div class="modal-content">
                <form id="formBeneficiario" method="post">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <div class="form-group">
                                    <label for="CPFB">CPF:</label>
                                    <input type="text" class="form-control" id="CPFB" name="CPFB" required placeholder="Ex.: 111.222.333.44" maxlength="14">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-5">
                                <div class="form-group">
                                    <label for="NomeB">Nome:</label>
                                    <input type="text" class="form-control" id="NomeB" name="Nome" required placeholder="Ex.: Maria" maxlength="50">
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-3">
                                <div class="form-group">
                                    <button type="button" onclick="valida_cpf_benef('CPFB')" class="btn btn-sm btn-success" style="margin-top:25px; width:100px;">Salvar</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">

                                    <script>
                                        $(document).ready(function () {

                                            if (document.getElementById("gridBeneficiario"))
                                                $('#gridBeneficiario').jtable({
                                                    title: 'Beneficiarios',
                                                    paging: true, //Enable paging
                                                    pageSize: 5, //Set page size (default: 10)
                                                    sorting: true, //Enable sorting
                                                    defaultSorting: 'Nome ASC', //Set default sorting
                                                    actions: {
                                                        listAction: "Beneficiario/BeneficiarioList",
                                                    },
                                                    fields: {
                                                        Nome: {
                                                            title: 'CPF',
                                                            width: '35%'
                                                        },
                                                        Email: {
                                                            title: 'Nome',
                                                            width: '50%'
                                                        },
                                                        Alterar: {
                                                            title: '',
                                                            display: function (data) {
                                                                return '<button onclick="window.location.href=\'' + 'Beneficiario/Alterar' + '/' + data.record.Id + '\'" class="btn btn-primary btn-sm">Alterar</button>';
                                                            }
                                                        }
                                                    }
                                                });

                                            //Load student list from server
                                            if (document.getElementById("gridBeneficiario"))
                                                $('#gridBeneficiario').jtable('load');
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script language="javascript" type="text/javascript" src="~/Scripts/cpfb.js"></script>
                </form>
            </div>
        </div>
    </div>
</div>
